@import "tailwindcss";
/* in index.css or globals.css */
@keyframes waveMove {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-25px);
  }
  100% {
    transform: translateX(0);
  }
}

.wave-animation {
  animation: waveMove 6s ease-in-out infinite;
}
